html {
  @apply text-base;
}

body {
  @apply bg-body font-primary font-normal leading-relaxed text-text dark:bg-darkmode-body dark:text-darkmode-text;
 
  .mb-4 a{
    text-decoration: underline;
    text-decoration-color: #66C6BA; /* Set link underline color */
    color: #66C6BA; /* Set link text color */
    transition: color 0.3s, text-decoration-color 0.3s; /* Add transition effects */
}
  a:hover{
    text-decoration: none; /* Remove default underline on hover */
    color: #F3D3BD; /* Change link text color on hover */
    text-decoration-line: underline wavy; /* Add underline and wavy effect on hover */
    text-decoration-color: #F3D3BD; /* Change link underline color on hover */
    
}



}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-secondary font-bold leading-tight text-dark dark:text-darkmode-dark;
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
  
  
ins {

color: #41337A;
text-decoration-color: #48E5C2;
text-decoration:underline dashed ;
  text-decoration-color: #48E5C2;

 /*  text-decoration-color:#F3D3BD;  */
 
}

ins:hover{
  font-size: 1.07em; /* Increase font size on hover */
  transform: translateY(-2px); /* Move text up by 2 pixels on the y-axis */
  transition: font-size 0.5s, transform 0.5s; /* Add transition effects */
  text-decoration:underline dashed ;
  text-decoration-color: #48E5C2;
}


}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4 font-medium;
}

h5,
.h5 {
  @apply text-h5 font-medium;
}

h6,
.h6 {
  @apply text-h6 font-medium;
}

b,
strong {
  @apply font-semibold;
}

code {
  @apply after:border-none;
}

p {

    
ins {
  
  text-decoration: none;
  background: linear-gradient(180deg,rgba(255,255,255,0) 80%, #FEE866 50%);
  
}

}




.banner-background {
  background-image: url('/images/data-dot-background-3.png') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 


}